<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action= "{{url_for('main')}}" method="post">
    <p>
        <label>Введите величину сварочного тока (IW)</label>
        <input type="text" name="IW">
    </p>
    <p>
        <label>Введите ток фокусировки электронного пучка (IF)</label>
        <input type="text" name="IF">
    </p>
    <p>
        <label>Введите скорость сварки (VW)</label>
        <input type="text" name="VW">
    </p>
    <p>
        <label>Введите расстояние от поверхности образцов до электронно-оптической системы (FP)</label>
        <input type="text" name="FP">
    </p>
    <p>
        <input type="submit">
    </p>
</form>


{% if result %}
<p style="font-size: 50px"> Глубина сварного соединения: </p>
<p style="font-size: 30px">{{ result }}</p>
<br>
{% endif %}

{% if result1 %}
<p style="font-size: 50px"> Ширина сварного соединения: </p>
<p style="font-size: 30px">{{ result1 }}</p>
{% endif %}

</body>
</html>